<% provide(:title, 'Home') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Schoolcode:</strong>
  <%= @schooldatum.Schoolcode %>
</p>
<p>
  <strong>test:</strong>
  <%= @schooldatum.test %>
</p>

<p>
  <strong>Schoolname:</strong>
  <%= @schooldatum.schoolname %>
</p>

<p>
  <strong>Branchname:</strong>
  <%= @schooldatum.branchname %>
</p>

<p>
  <strong>Fromstd:</strong>
  <%= @schooldatum.fromstd %>
</p>

<p>
  <strong>Tostd:</strong>
  <%= @schooldatum.tostd %>
</p>

<p>
  <strong>Boardcode:</strong>
  <%= @schooldatum.boardcode %>
</p>

<p>
  <strong>Registerunder:</strong>
  <%= @schooldatum.registerunder %>
</p>

<p>
  <strong>Schoolownershiptype:</strong>
  <%= @schooldatum.schoolownershiptype %>
</p>

<p>
  <strong>Yearofestb:</strong>
  <%= @schooldatum.yearofestb %>
</p>

<p>
  <strong>Website:</strong>
  <%= @schooldatum.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @schooldatum.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @schooldatum.phone %>
</p>

<p>
  <strong>Pictlink:</strong>
  <%= @schooldatum.pictlink %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @schooldatum.isactive %>
</p>

<%= link_to 'Edit', edit_schooldatum_path(@schooldatum) %> |
<%= link_to 'Back', schooldata_path %>
