<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.SCHOOL_ID %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.SCHOOL_CODE %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
