<!DOCTYPE html>
<html>
<head>
  <title><%=  yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body><div class="footer">
    <header class="navbar ">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "sample app", '#', id: "logo" %>
          <ul class="nav nav-tabs pull-right" role="tablist">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Signup</a></li>
</ul>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
<footer class="container well">footer</footer>
</div>

</body>
</html>
